@charset "UTF-8";

@font-face {
    font-family:'comfortaa';
    src: url(../fontes/comfortaa-regular.ttf);
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0%;
    padding: 0%;
}

header.principal-menu {
    width: 100%;
    height: 100vh;
    background-image: url(imagens/file.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

}

.glass-header {
    background: rgba(50, 50, 50, 0.4)
}

.glass-panel {
    background: rgba(255, 255, 255, 0.166);
}